In [1]:
import pandas as pd
import numpy as np

In [30]:
data = pd.read_csv('dataset.csv')
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,USA,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,USA,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,USA,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,USA,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,USA,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,USA,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,82,Europe,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,82,USA,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,82,USA,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,82,USA,chevy s-10

In [31]:
data = data.drop(labels="car name", axis=1)

In [32]:
data = data.dropna(how = 'any')
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,USA
1,15.0,8,350.0,165.0,3693.0,11.5,70,USA
2,18.0,8,318.0,150.0,3436.0,11.0,70,USA
3,16.0,8,304.0,150.0,3433.0,12.0,70,USA
4,17.0,8,302.0,140.0,3449.0,10.5,70,USA
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,USA
394,44.0,4,97.0,52.0,2130.0,24.6,82,Europe
395,32.0,4,135.0,84.0,2295.0,11.6,82,USA
396,28.0,4,120.0,79.0,2625.0,18.6,82,USA
397,31.0,4,119.0,82.0,2720.0,19.4,82,USA

In [33]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
dtype: int64

In [34]:
x = data.drop(labels="origin", axis=1)
x

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year
0,18.0,8,307.0,130.0,3504.0,12.0,70
1,15.0,8,350.0,165.0,3693.0,11.5,70
2,18.0,8,318.0,150.0,3436.0,11.0,70
3,16.0,8,304.0,150.0,3433.0,12.0,70
4,17.0,8,302.0,140.0,3449.0,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82
394,44.0,4,97.0,52.0,2130.0,24.6,82
395,32.0,4,135.0,84.0,2295.0,11.6,82
396,28.0,4,120.0,79.0,2625.0,18.6,82
397,31.0,4,119.0,82.0,2720.0,19.4,82

In [35]:
y = data.origin
y

0         USA
1         USA
2         USA
3         USA
4         USA
        ...
393       USA
394    Europe
395       USA
396       USA
397       USA
Name: origin, Length: 379, dtype: object

In [36]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['origin']=le.fit_transform(data['origin'])
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,2
1,15.0,8,350.0,165.0,3693.0,11.5,70,2
2,18.0,8,318.0,150.0,3436.0,11.0,70,2
3,16.0,8,304.0,150.0,3433.0,12.0,70,2
4,17.0,8,302.0,140.0,3449.0,10.5,70,2
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,2
394,44.0,4,97.0,52.0,2130.0,24.6,82,0
395,32.0,4,135.0,84.0,2295.0,11.6,82,2
396,28.0,4,120.0,79.0,2625.0,18.6,82,2
397,31.0,4,119.0,82.0,2720.0,19.4,82,2

In [37]:
from sklearn.model_selection import train_test_split
xt,xtt,yt,ytt = train_test_split(x,y,test_size=0.5,stratify=y,random_state=1)

In [38]:
x = data.iloc[:,:-1]
x

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year
0,18.0,8,307.0,130.0,3504.0,12.0,70
1,15.0,8,350.0,165.0,3693.0,11.5,70
2,18.0,8,318.0,150.0,3436.0,11.0,70
3,16.0,8,304.0,150.0,3433.0,12.0,70
4,17.0,8,302.0,140.0,3449.0,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82
394,44.0,4,97.0,52.0,2130.0,24.6,82
395,32.0,4,135.0,84.0,2295.0,11.6,82
396,28.0,4,120.0,79.0,2625.0,18.6,82
397,31.0,4,119.0,82.0,2720.0,19.4,82

In [39]:
y = data.iloc[:,-1]
y

0      2
1      2
2      2
3      2
4      2
      ..
393    2
394    0
395    2
396    2
397    2
Name: origin, Length: 379, dtype: int64

In [40]:
from sklearn.model_selection import train_test_split
xt,xtt,yt,ytt = train_test_split(x,y,test_size=0.5,stratify=y,random_state=1)

In [41]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(xt,yt)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [42]:
from sklearn import metrics
y_pred=log.predict(xtt)
metrics.accuracy_score(ytt,y_pred)

0.7631578947368421

In [43]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=1000, random_state=0)
forest.fit(xt,yt)

RandomForestClassifier(n_estimators=1000, random_state=0)

In [44]:
from sklearn import metrics
y_pred=forest.predict(xtt)
metrics.accuracy_score(ytt,y_pred)

0.8105263157894737

In [45]:
from sklearn.svm import SVC
svm = SVC()
svm.fit(xt,yt)

SVC()

In [46]:
from sklearn import metrics
y_pred =svm.predict(xtt)
metrics.accuracy_score(ytt, y_pred)

0.7

In [47]:
from sklearn import tree
X = xt
Y = yt
tree = tree.DecisionTreeClassifier()
tree = tree.fit(X,Y)

In [48]:
from sklearn import metrics
y_pred=tree.predict(xtt)
metrics.accuracy_score(ytt,y_pred)

0.7631578947368421